.post {
  display: flex;
  gap: 8px;
}

.post .author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post .author h4 {
  display: flex;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.4;
}
